.bold{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
}

.normal{
    font-family: Montserrat;
    text-align: center;
    margin-top: 20px;
}

.underline{
    text-decoration: underline;
}